.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 70px 130px;
    line-height: 12px;
    align-items: center;
}

.offer {
    color:
        rgba(255, 153, 0, 1);
}

.shop-btn {
    padding: 12px 20px;
    background-color: rgba(255, 153, 0, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 30px;
}

.home h1 {
    font-weight: 700;
    font-size: 45px;
}

.home p {
    font-size: 20px;
}

.home h5 {
    margin-bottom: 50px;
}

.home img {
    width: 350px;
    height: 430px;
    margin-left: 90px;
}